body,
html {
  overscroll-behavior: none;
  margin: 0;
  height: 100%;
}

body {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.coin {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cointext {
  font-size: 40px;
  font-family: "Calibri";
  text-align: center;
  margin-right: 5px;
}

.gui {
  z-index: 2;
  background-color: #822222;
  border-radius: 10px;
  border: 2px solid #000000;
}

.bottom {
  position: absolute;
  width: 650px;
  height: 90px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.guiitem {
  width: 100px;
  height: 100px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 60px;
}
.upg {
  font-family: "Calibri";
  margin: 0 auto;
}
